<div class="container" style="display:flex;">
  <section class="show-drinks">
    <header class="cocktail-show-header d-flex">
      <h2><%=@cocktail.name %></h2>
      <%= link_to "<i class='fa fa-trash trash-can-red' aria-hidden='true'></i>".html_safe, cocktail_path(@cocktail), method: :delete, data: {confirm: "Are you sure?"}%>
    </header>

    <div class="mt-5">
      <%= cl_image_tag @cocktail.photo.key, width: 500, height: 500, crop: :fill, radius: 4 %>
    </div>
  </section>

  <section class="show-ingredients px-5 m-2">
    <%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-success" %>
    <h4 class="my-5">Ingredients: </h4>
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li> <%=dose.description%> <%=dose.ingredient.name%> </li>
      <% end %>
    </ul>

    
  </section>
</div>